---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Us";
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Welcome to our website! We are a small team of developers.</p>
</BaseLayout>
